<div class="jobs">
    <h1>Verallia</h1>
    <p>
        <b>Verallia</b></g> was a branch of the french industrial firm <b>Saint Gobain</b> for 2015 it's now owned by Apollo Financial Group. Its main activity is to produce glass bottles and jars. I worked there from 2010 up to now in the <b>Industrial IT department</b>. Only in France for the 3 first years and <b>worldwide</b> since January 2014
    </p>
    <p>
        The goal of the industrial IT department is to help plants on technical parts when it requires any kind of IT equipment (network, computers, softwares), their choices regarding new developments, research of new tools or solutions.
    </p>    
    <p>My job in France was to assist the person in charge of the industrial IT department, indeed people in this department are usualy more industrial and functionnal guys than IT ones. With my IT degree and my development skills, I was plainly able to advice him on technical choices 
        and to add my own touch to this service. When my half time job was over and that I graduated from my school. The central IT service proposed me a job as <b>Project Manager</b> in the central Industrial IT department, which I accepted due to my desire to <b>bring more to this company</b> and to know more about the <b>glass industry</b> that I like a lot.
    </p>
    <div style="width:500px;margin-left:auto;margin-right:auto;margin-bottom:15px;">
        <iframe width="480" height="365" src="https://www.youtube.com/embed/LUF_5zrFG9c?start=69" frameborder="0" allowfullscreen ></iframe>
        <i>You can imagine how much automation is important with this cadency</i>
    </div>
    <h2>Industrial Historian</h2>
    <p>
        One of our problematic is that our core process can't really evolve as it is already a fairly efficient one (in terms of production), but there is although a lot of room for optimization. This is the goal of this historian, collect and store data in real time (~1 second) from every part of the production and allow various population (Plant Manager, Experts, Line Operators, Tools) to use them from a single source.
    </p>
    <p>
        I really enjoy working for this kind of industry as what you do has a physical impact onsite and one of our strength is that we were able to work on technologies that are current as problematics are around Big Data, Data Mining and Web Clients and that standard infrastructure is quite up to date (Industrial VMWare infrastructure, Smartphones & Tablets, Windows Server 2012, Windows 7, ...)
    </p>
    <p>
        The chosen solution was build around <b>PI</b> from <b>OSISoft</b> a suite of software that I affectionated as it mostly follow <b>Microsoft's .NET</b> patterns and technologies which I find particularly powerful and well framed. Around this <b>non relational database</b>, we connected physical facilities, machines, processes and gathered data from all of them, 
        then build <b>web clients</b> around <b>PI Rest Web services</b> to visualize them around applications which specifications are stated by people from the core business
    </p>
    <p>
        I had the opportunity to work with talented people from Verallia and consultants that helped us to design a really nice dynamic dashboarding framework. My work for this project was to lead the development of the tool and to ensure that the installation was functionning properly. This can translate in term of skills, technologies by:
    </p>
    <ul>
        <li>Web Applications</li>
        <ul>
            <li>REST Services</li>
            <li>AngularJS</li>
            <li>Responsive Design</li>
        </ul>
        <li>Monitoring Tools</li>
        <ul>
            <li>Nagios</li>
            <li>RedHat</li>
            <li>Powershell</li>
        </ul>
        <li>Project Management</li>
        <ul>
            <li>Lead a Meeting</li>
            <li>Organize a planning</li>
            <li>Elaborate specifications</li>
            <li>Manage ressources</li>
            <li>Outsourcing</li>
        </ul>
    </ul>
    <p>
        This job allowed me to take a deep step in technical application of theoretical knowledge, to take a hand on project management, to be trusted as an IT Expert and thus have my opinion taken in account.
    </p>
</div>
