<div class="mdl-grid demo-content">
    <div class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">
            <div class="mdl-card__title mdl-card--expand mdl-color--blue-600">
                <h2 class="mdl-card__title-text">Yoann Menelet</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Born in 06-12-1990 - France - Burgundy
            </div>
        </div>
        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
            <div class="mdl-card__title mdl-card--expand mdl-color--red-300">
                <h2 class="mdl-card__title-text">Licenses</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Car & Moto French License - European Passport
            </div>
        </div>
        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
            <div class="mdl-card__title mdl-card--expand mdl-color--purple-300">
                <h2 class="mdl-card__title-text">Hobbies</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                IT, Video Games, Music
            </div>
        </div>
        
        <div class="mdl-card mdl-shadow--2dp demo-card-image demo-card-image-steam mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image__filename"><a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" href="http://steamcommunity.com/id/Yoann71">My Steam</a></span>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp demo-card-image demo-card-image-lol mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image__filename"><a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" href="http://www.lolking.net/summoner/euw/19392443#matches">My League</a></span>
            </div>
        </div>

    </div>
</div>